---
layout: default
---

<header class="px2 py4">
  <div class="container table">
    <div class="table-cell center toiee-pt toiee-pb">
      <h1 class="mb2 center toiee-title">Toiee Cafe</h1>
      <p class="mid-gray">{{ site.description }}</p>
      <!-- 登録ボタンはまた今度〜！
      <a href="#!" class="button button-big toiee-button toiee-button-navy">登録する</a>
      -->
    </div>
  </div>
</header>

<main class="container px2">
  <div class="row">
    <div class="col col-6">
      <section class="py3">
        <h1 class="h4 italic caps">Schedule</h1>

        {% assign schedules = site.data.schedules | sort: 'date' %}
        {% if schedules %}
          <table class="table-reset table-light table-condensed mb2">
            <tbody>

              {% for schedule in schedules reversed | limit: 5 %}
                <tr>
                  <td>{{ schedule.date | date: "%Y/%-m/%-d %a" }}</td>
                  <td><a href="{{ schedule.href }}" target="_blank">{{ schedule.class_name }} <i class="fa fa-external-link"></i></a></td>
                  {% if schedule.done? %}
                    <td><span class="red">終了</span></td>
                  {% else %}
                    <td><span class="green">募集中</span></td>
                  {% endif %}
                </tr>
              {% endfor %}

            </tbody>
          </table>
          <p class="italic mid-gray">随時追加予定</p>
        {% endif %}
      </section>
    </div>
    <div class="col col-5 col-offset-1">
      <section class="py3">
        <h1 class="h4 italic caps">Access</h1>
        {% include _googlemaps.html %}
        <p class="italic mid-gray">阪急堺筋線「関大前駅」より徒歩5分です。</p>
      </section>
    </div>
  </div>
</main>

<footer class="container px2 py4">
  <p class="mid-gray right-align">2014 © hokuken.inc</p>
</footer>
