body {
  font-family: 'Montserrat','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', sans-serif;
}

.container {
  max-width: 65rem;
  margin-right: auto;
  margin-left: auto;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
  padding: .4em .4rem .6em;
}

/*

    class toiee-*

*/

.toiee-title {
  font-size: 4.2rem;
  letter-spacing: .5rem;
}

.toiee-button {
  font-weight: normal;
  letter-spacing: .1rem
}

.toiee-button-navy {
  color: #fff;
  background-color: #4c5a5e;
}
.toiee-button-navy:hover {
  color: #fff;
  background-color: #444444;
}

.toiee-pt {
  padding-top: 6rem;
}
.toiee-pb {
  padding-bottom: 4.2rem;
}


/*

    google-maps

*/

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
